.editor-outer-container {
  padding: .5em;
  margin-bottom: 1em;
  border-radius: .25em;
  border: 1px solid #808080;
  color: #808080;
  &:hover {
    border: 1px solid black;
  }
  &:focus-within {
    border: 1.5px solid #6200ee;
    color: #6200ee;
  }
}
