.mt-10 {
    margin-top: 10px;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.sel, .opt , .upload{
    margin: 15px;
    padding: 12px auto 12px 5px;
    width: 65vw;
}
.upload{
    width: 62vw;
}
.opt{
    overflow: visible ;
    width: 250px;
}

.btn{
    margin-bottom: 20px;
}

.codebox{
    width: 500px;
    height: auto;
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #6200ee;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media only screen and (max-width:839px){
    .upload{
        width: 77vw;
    }
    .sel,.opt{
        width: 80vw;
    }
}