@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.learn {
    &-title {
        font-family: 'Bebas Neue';
        font-size: 2.2em;
        letter-spacing: 0.25em;
        color: #6200ee;
        text-align: center;
        margin-bottom: 0.5em;
    }
    &-description {
        text-align: justify;
        border-radius: 1em;
        margin: 0 1em;
        padding: 0.5em;
        padding-bottom: 1em;
    }
    &-container {
        margin: 0 auto;
        padding: 0 1em;
    }
    &-card {
        border-radius: 0.25em;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1em;
        &-container {
            display: grid;
            gap: 1em;
            grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
            border-radius: 0.25em;
        }
        &-each {
            padding: 0.5em;
            border: 1px solid transparent;
            display: flex;
            flex-direction: column;
            &-title {
                margin: 0;
            }
            &-link {
                margin: 0.25em;
                padding: 0 0.25em;
                font-size: 1.2em;
                text-decoration: none;
                color: inherit;
            }
        }
        &-tips {
            background-color: #efe5fd;
            padding: 0.75em;
            border-radius: 0.25em;
            text-align: justify;
        }
    }

}