.container-center {
  margin-top: 2rem !important;
  /*margin-left: 0rem !important;
  padding-left: 0rem !important;*/
}
.imagespacing {
  margin-bottom: 1rem !important;
}
.twentyonesize {
  width: 20rem !important;
}
.decor {
  text-decoration: none;
}
.mt2 {
  margin-top: 0.5rem !important;
}
