@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.work {
    margin: 0em auto;
    max-width: 1100px;
    padding: 1em;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
            color: #6200ee;
            margin: 0em;
            font-size: 2.25em;
            letter-spacing: 0.25em;
            font-family: 'Bebas Neue';
        }
        &-image {
            // position: relative;
            height: 25em;
        }
    }
    &-content {
        text-align: justify;
        padding: 0em 1em;
        &-divider {
            border-bottom: 2px solid #eee;
            width: 10em;
            margin-bottom: 1em;
        }
        &-pill {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1em;
            text-align: center;
        }
        &-reach {
            font-family: 'Bebas Neue';
            font-size: 2em;
            text-align: center;
            letter-spacing: 0.1em;
            padding: 0.5em;
        }
    }
}

.expand-pill {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
    border: 2px solid #d5bff9;
    border-radius: 0.5em;
    &-title {
        margin: 0;
    }
}
a{
    margin-right: 0.5em;
}