.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 0px 5px 0px rgba(211,211,211,1);
}

.sidebar div {
  display: block;
  color: black;
  padding: 16px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
 
.sidebar div.active {
  background-color: #A463F2;
  color: white;
}

.sidebar div:hover:not(.active) {
  background-color: #A463F2;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  min-height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content {
    height: auto;
  }
}