
.talk-bubble {
	margin: 0.2em 0em 0.5em 0em;
    display: inline-block;
    position: relative;
	height: auto;
	background-color: lightyellow;
}

.border{
    border: 8px solid #eeeeee;
}

.round{
    border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
}
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: auto;
	left: -18px;
    top: -8px;
	bottom: auto;
	border: 10px solid;
	border-color: #eeeeee transparent transparent transparent;
}