.Alert{
    width: 480px;
    padding: 15px;
    border-radius: 10px;
    font-family: inherit;
}
.error{
    background-color: #dc3545 !important;
}
.success{
    background-color:  #28a745 !important;
}
.info{
    background-color: #17a2b8 !important;
}