
* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}
p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
	letter-spacing: 0 !important;
}
img {
  max-width: max-content;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.navbar-light {
	background-color: #fff;
	color: #1b1f3a;
}

.navbar-dark {
	background: linear-gradient(81.4deg, #000000 0.86%, #202e44 127.88%);
	color: #fff;
}

.navbar-shadow {
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
}

.nav-item a:hover {
	text-decoration: none;
}

.navbar-brand {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 54px;
	text-align: center;
	letter-spacing: -0.292683px;
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.navbar-nav {
	margin-right: 0;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* padding: 10px; */
}

.nav-item {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 22px;
	color: #1b1f3a;
	margin: 10px;
}

.active {
	border-radius: 25px;
	border: 1px solid #40be2c;
	box-sizing: border-box;
	color: #40be2c !important;
}

#navbarCollapse {
	color: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	border: none;
}

@media (max-width: 768px) {
	.navbar-nav {
		display: flex;
		flex-direction: column;
	}
}

/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

.poster {
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
}

.poster .container {
	margin-top: 80px;
}

.head-texts {
	text-align: left;
}

.presents {
	font-size: 1.1rem !important;
	margin-bottom: -10px !important;
	letter-spacing: 0;
}

.tcyear {
	color: #40be2c;
}

.poster h1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 2.3rem !important;
	line-height: 64px;
	letter-spacing: -1px;
	color: #211c24;
}

.poster p {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.25;
	line-height: 36px;
	display: flex;
	align-items: center;
	color: #898989;
}

.poster .btn {
	/* padding: 0 10% 0% 10; */
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 1.125;
	line-height: 26px;
}

.poster .btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

.poster .btn:hover {
	background: linear-gradient(180deg, #289b16 0%, #083801 100%);
	color: #ffffff;
}

.poster .timer {
	padding-bottom: 30px;
}

.poster .timer h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 5rem;
	line-height: 120px;
	color: #211c24;
}

.poster .countdown-bracket {
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.poster .timer h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 1.3125rem;
	line-height: 32px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	color: rgba(0, 0, 0, 0.32);
}

.lottie-player {
	position: absolute;
	max-height: 200px;
	height: auto;
	overflow-y: hidden;
	z-index: -1;
}

.lottie-player-div {
	overflow-y: hidden;
}

/* //////////////// RESPONSIVE CSS //////////////// */

/* tablets */
@media (max-width: 1023px) {
	.poster .timer h2 {
		font-size: 3rem;
		line-height: 74px;
	}

	.poster .timer h4 {
		font-size: 0.8;
		line-height: 19px;
	}

	#animation-container {
		height: 200px;
		width: auto;
	}

	.poster .timer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

/* 16:8 devices */
@media (max-width: 767px) {
	.poster .timer h2 {
		font-size: 2rem;
		line-height: 74px;
		padding: 0;
	}

	.poster .timer h4 {
		font-size: 0.3;
		line-height: 19px;
		padding: 0;
	}

	.poster .col {
		padding-right: 0;
		padding-left: 0;
	}
}

/* 18:9 devices */
@media (max-width: 823px) {
	.poster .timer h2 {
		font-size: 35px;
		line-height: 42px;
		padding: 0;
	}

	.poster .timer h4 {
		font-size: 10px;
		line-height: 15px;
		padding: 0;
	}

	.poster .col {
		padding-right: 0;
		padding-left: 0;
	}
}

.dummyAbout {
	width: 100vw;
}

.dummyAbout .css-waves {
	position: relative;
}

.custom-shape-divider-top-1647607825,
.custom-shape-divider-top-1647609022 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.custom-shape-divider-top-1647607825 {
	z-index: 10;
}

/* Wave 1  */

.custom-shape-divider-top-1647607825 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1647607825 svg {
	position: relative;
	display: block;
	width: calc(120% + 1.3px);
	/* height: 78px; */
	/* height: 110px; */
	width: 100vw;
	height: 10.25vw;
}

.custom-shape-divider-top-1647607825 .shape-fill {
	fill: #ffffff;
}

/* Wave 2 */

.custom-shape-divider-top-1647609022 {
	position: inherit;
	top: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1647609022 svg {
	position: relative;
	display: block;
	width: calc(120% + 1.3px);
	/* height: 139px; */
	/* height: 189px; */
	width: 100vw;
	height: 14.25vw;
}

.custom-shape-divider-top-1647609022 .shape-fill {
	fill: #ffffff36;
}

/* //////////////// RESPONSIVE CSS FOR WAVES //////////////// */

@media (max-width: 768px) {
	.custom-shape-divider-top-1647607825 svg {
		position: relative;
		display: block;
		width: calc(120% + 1.3px);
		width: 100vw;
		height: 10.25vw;
	}

	.custom-shape-divider-top-1647609022 svg {
		position: relative;
		display: block;
		width: calc(120% + 1.3px);
		width: 100vw;
		height: 15.25vw;
	}
}

.containerAbout {
	width: 100vw;
	padding-bottom: 4rem;
}
.parentAbout {
	margin: 0rem 8rem;
	display: flex;
	justify-content: space-around;
}

.parentAbout2 {
	margin: 0rem 8rem 0rem 0rem;
	padding: 3rem 0rem;
	display: flex;
	justify-content: space-around;
}

.ch1About {
	margin-right: 6rem;
	height: auto;
}
.ch2About {
	margin-left: 8rem;
	text-align: center;
}

.ch3About {
	margin-left: 8rem;
}

.img1About {
	width: 300px;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titleAbout {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 77px;

	letter-spacing: -0.02em;

	background: linear-gradient(180deg, #6bff37 0%, #1b9708 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.contentAbout {
	width: fit-content;
	font-family: 'DM Sans' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 20px !important;
	line-height: 43px !important;
	letter-spacing: -0.01em !important;
	text-align: justify;
	color: #6f84ab;
}

@media (max-width: 1200px) {
	.parentAbout {
		margin: 0rem 0rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.parentAbout2 {
		margin: 0rem 0rem 0rem 0rem;
		padding: 0rem 0rem;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
	}
	.ch1About {
		margin: 0rem 1rem;
		height: auto;
	}
	.ch2About {
		margin: 0rem 1rem;
		text-align: center;
	}

	.ch3About {
		margin: 0rem 1rem;
	}
}

@media (max-width: 768px) {
	.parentAbout {
		margin: 1rem 0rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.parentAbout2 {
		margin: 2rem 0rem;
		padding: 0rem 0rem;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
	}
	.ch1About {
		margin: 0rem 1rem;
		height: auto;
	}
	.ch2About {
		margin: 0rem 1rem;
		text-align: center;
	}

	.ch3About {
		margin: 0rem 1rem;
	}
}

/* Schedule*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

:root {
	--max-width: 1100px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(81.4deg, #000000 0.86%, #202e44 127.88%);
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
}

.container {
	font-family: 'Poppins', sans-serif;
	/* margin:0 auto; */
	text-align: center;
	/* padding:4rem 0; */
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
}
h1 {
	font-size: 2.3rem;
}
#timeline ul {
	padding: 50px 0;
	color: #6f84ab;
}
/* to create line */
#timeline ul li {
	list-style: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
}
#timeline ul li .box-text {
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
}

/* boxes */
#timeline ul li .boxes {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	bottom: 0;
	margin-left: 50px;
	width: 500px;
	padding: 33px;
	background: #152235;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
}
.box-heading {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
}
.box-date {
	width: 90%;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(180deg, #6bff37 0%, #1b9708 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.schedule-bug {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* right side */
#timeline ul li:nth-child(even) .boxes {
	left: 20px;
}
/* left side */
#timeline ul li:nth-child(odd) .boxes {
	left: -610px;
}

/* Dots */
#timeline ul li:after {
	content: '';
	position: absolute;
	background: inherit;
	left: 3px;
	/* bottom:0; */
	bottom: 90px;
	width: 25px;
	height: 25px;
	transform: translateX(-50%);
	border-radius: 50%;
}

/* Schedule Media Queries starts */

@media (max-width: 900px) {
	#timeline ul li .boxes {
		width: 329px;
	}
	#timeline ul li:nth-child(odd) .boxes {
		left: -284px;
	}
}
@media (max-width: 600px) {
	#timeline ul li .boxes {
		width: 257px;
	}
	#timeline ul li {
		margin-left: 20px;
	}
	#timeline ul li:nth-child(odd) .boxes {
		left: 15px;
	}
	#timeline ul li:nth-child(even) .boxes {
		left: 15px;
	}

	#timeline ul li:nth-child(odd) .boxes:before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent var(--secondary-color) transparent transparent;
	}
	#timeline ul li .boxes {
		margin-left: 10px;
		width: 334px;
	}
	.box-heading {
		padding-top: 20px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 800;
		font-size: 18px;
	}
}
@media (max-width: 376px) {
	#timeline ul li:nth-child(odd) .boxes {
		left: 20px;
	}
	#timeline ul li:nth-child(even) .boxes {
		left: 20px;
	}
	#timeline ul li .boxes {
		margin-left: 0px;
		width: 320px;
	}
}

@media (min-width: 601px) and (max-width: 899px) {
	#timeline ul li:nth-child(odd) .boxes {
		left: -444px;
	}
	#timeline ul li .boxes {
		margin-left: 26px;
		width: 370px;
	}
	#timeline ul li:nth-child(even) .boxes {
		left: -211px;
	}
	#timeline ul li:nth-child(odd) .boxes {
		left: -211px;
	}
	#timeline ul li:after {
		content: '';
		bottom: 0;
		width: 0px;
		height: 0px;
	}
	#timeline ul li .box-text,
	.box-heading {
		margin-left: -30px;
	}
	#timeline ul li {
		width: 0px;
	}
}

@media (min-width: 766px) and (max-width: 899px) {
	#timeline ul li .boxes {
		margin-left: -70px;
		width: 557px;
	}
}
@media (min-width: 900px) and (max-width: 1170px) {
	#timeline ul li .boxes {
		margin-left: 120px;
		width: 413px;
	}
	#timeline ul li:nth-child(odd) .boxes {
		left: -555px;
	}
	#timeline ul li:nth-child(even) .boxes {
		left: -90px;
	}
}

/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

#registration {
	width: 100%;
	min-height: 100vh;
	font-family: 'DM Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reg {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: center;
	margin: auto;
	height: inherit;
	color: #e7f4ed;
}

.reg-heading {
	padding: 7px 20px 0px 0px;
	width: min-content;
	display: flex;
	align-self: flex-end;
	color: #76ec7e;
	font-size: 40px;
	border-bottom: 4px solid #76ec7e;
}

.ins {
	padding: 15px 20px 15px 0px;
	border-right: 4px solid #76ec7e;
	border-bottom: 4px solid #76ec7e;
	font-size: 20px;
}

.reg-btn {
	background-color: transparent;
	padding: 15px 20px 0px 0px;
	font-size: 35px;
	color: #76ec7e !important;
	border-right: 4px solid #76ec7e;
	z-index: 1;
}

.reg-btn:hover {
	cursor: pointer;
}

.arrow {
	position: relative;
	top: -25px;
	left: 14px;
	color: #76ec7e;
}

@media (max-width: 700px) {
	.reg {
		width: 90%;
	}

	.ins {
		font-size: 16px;
	}

	.reg-btn {
		font-size: 30px;
	}
}

@media (max-width: 1100px) and (min-width: 700px) {
	.reg {
		width: 80%;
	}

	.ins {
		font-size: 20px;
	}

	.reg-btn {
		font-size: 30px;
	}
}

.fade-out-top {
	-webkit-animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
}
@keyframes fade-out-top {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-bottom {
	0% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-in-top {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: fade-out-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
}
@keyframes fade-out-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(50px);
		transform: translateY(50px);
		opacity: 0;
	}
}

.field-input-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
}

.field-input-div-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	padding: 0px;
}

.form-cont {
	max-width: 100vw;
	margin: 0rem 1rem;
}

.form-cont > .item {
	width: 100%;
}

.form-cont .item .question,
.reply {
	display: flex;
	justify-content: center;
	align-items: center;

	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 43px;
	letter-spacing: -0.01em;
	color: #889aba;
}

.form-cont .item .ques {
	padding: 0px 2.5px;
	padding-right: 10px;
}

.form-cont .item .ans {
	padding: 0px 2.5px;
	padding-right: 17px;
}

.form-cont .item .reply {
	color: #fff;
}

.form-cont .item .reply .ans-input {
	padding: 0px 2.5px;
	background-color: transparent;
	color: #fff;
	margin: 17px 0px;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 43px;
	letter-spacing: -0.01em;
	border: none;
	outline: none;
	border-bottom: 1px solid #38507a;
	appearance: none;
}

.form-control:focus,
.form-control:active {
	background: transparent;
	color: #fff;
	outline: none;
}

.next-btn input {
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	padding: 0.5rem 1.5rem;
	font-family: 'DM Sans', sans-serif;
	position: absolute;
	right: 0;
	left: auto;
}

.next-btn input:focus {
	outline: none !important;
	box-shadow: none !important;
}

.next-btn input:hover {
	background: linear-gradient(180deg, #289b16 0%, #083801 100%);
	color: #ffffff;
	border: none;
}

.prev-btn input {
	border: 1px solid #6f84ab;
	border-radius: 100px;
	background-color: transparent;
	color: #6f84ab;
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	padding: 0.5rem 1.5rem;
	position: absolute;
	right: auto;
	left: 0;
}

.prev-btn input:focus {
	outline: none !important;
	box-shadow: none !important;
}

.prev-btn input:hover {
	background: #6f84ab;
	color: #ffffff;
}

.radio-label {
	position: relative;
	display: inline-block;
	color: #fff;
	margin: 1rem;
}
.radio-label input {
	opacity: 0;
	position: absolute;
}
.radio-label .inner-label {
	position: relative;
	display: inline-block;
	font-size: 25px;
	padding-left: 20px;
}
.radio-label .inner-label:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid #3b3b3b;
	width: 10px;
	transition: border-bottom 0.5s ease;
}
.radio-label input:focus ~ .inner-label:before {
	border-bottom: 1px solid #3b3b3b;
}
.radio-label input:checked ~ .inner-label:after {
	content: '\2713';
	color: #289b16;
	position: absolute;
	font-size: 30px;
	left: 0px;
	top: -2px;
}

/* Imported Registration CSS */

.str-headings {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
	color: #505f7c;
}

.str-headings1 {
	text-align: center;
	margin: 40px 0px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #fff;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 77px;
}

.str-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.str-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 369px;
	height: 430px;
	border: 1px solid #6f84ab;
	margin: 10px;
	align-items: center;
	text-align: justify;
	padding: 25px;
	border-radius: 39px;
	background-size: 100% 200%;
}
.str-pp {
	font-family: 'DM Sans' !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-size: 20px !important;
	line-height: 26px !important;
	text-align: center !important;
	color: #6f84ab !important;
	mix-blend-mode: normal !important;
	opacity: 0.7 !important;
}

.str-number {
	font-family: 'Cabin Sketch', cursive;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: 11px;
	letter-spacing: -0.02em;
	text-align: center;
	color: #32f611;
}

/* .str-box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(22, 46, 77);
} */
.str-text {
	color: #6f84ab;
	margin: 50px;
	justify-content: center;
	font-family: DM Sans;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0px;
	text-align: center;
}
.str-button {
	background: linear-gradient(180deg, #40be2c 0%, #136706 100%);
	border-radius: 100px;
	border: none;
	padding: 20px 100px;
	margin: auto;
	display: flex;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	justify-content: center;
	outline: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
	color: #ffffff;
}

.str-button input:focus {
	outline: none !important;
	box-shadow: none !important;
	appearance: none;
}

.str-button input:hover {
	background: linear-gradient(180deg, #289b16 0%, #083801 100%);
	color: #ffffff;
	border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

.faq-tc {
	padding-top: 6rem;
	color: white;
}

.accordion {
	text-align: center;
	margin: 2rem 0;
	font-size: 1rem;
	color: white;
	width: 100%;
	max-width: 1000px;
}

.accordion-item {
	background-color: transparent;
	color: white;
	margin: 1rem 0;
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
	padding: 0.5rem 3rem 0.5rem 1rem;
	min-height: 3.5rem;
	line-height: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	color: #40be2c;
	text-align: left;
}

.accordion-item-header::after {
	content: '\002B';
	font-size: 2rem;
	position: absolute;
	right: 1rem;
	color: #40be2c;
}

.accordion-item-header.active::after {
	content: '\2212';
	color: #40be2c;
}

.accordion-item-body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
	padding: 1rem;
	line-height: 1.5rem;
	border-top: 1px solid;
	border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
	.faq-tc {
		padding-top: 4rem;
	}
	.faq-img {
		margin-top: 0%;
	}
	.faq-bug {
		display: flex;
		flex-direction: column-reverse;
	}
}

.faq-bug {
	display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

#contact {
	min-height: 100vh;
	width: 100vw;
	background-color: aliceblue;

	display: flex;
	justify-content: center;
	align-items: center;
}
#head-2 {
	color: green;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 32px;

	color: #30971e;
}

#sub-head-1 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	/* line-height: 26px; */

	color: #636363;
	/* padding: 0.5rem 0rem; */
}

.contact-socials {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.icons-social {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.call-mail {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#address {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	/* line-height: 26px; */
	text-align: left;
	color: #a1a1b0;
}

#content {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	text-align: left;

	color: rgba(21, 20, 57, 0.4);

	mix-blend-mode: normal;
}

#head {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 64px;
	text-align: left;
	letter-spacing: -0.02em;
	color: #211c24;
}

#contact-num {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #1e0e62;
}
#right-part {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.contact-fucked {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.clg-map {
	border: 0;
	width: 500px;
	height: 400px;
}

@media (max-width: 767px) {
	#contact {
		padding: 2rem 0.3rem;
	}

	.contact-head {
		max-width: 100vw;
	}

	.contact-socials {
		width: 90%;
	}

	.call-mail {
		width: 90%;
	}

	.contact-fucked {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	#right-part {
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 2rem 0.3rem;
	}

	.clg-map {
		width: 95%;
		height: 200px;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

:root {
	--max-width: 1100px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(81.4deg, #000000 0.86%, #202e44 127.88%);
	color: #fff;
	overflow-x: hidden;
	padding-bottom: 50px;
}

.footer-text {
	padding-top: 60px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	background: linear-gradient(180deg, #6bff37 0%, #1b9708 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.social-links {
	margin-top: 10px;
	margin-bottom: 45px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.social-links li,
.social-links li a {
	list-style: none;
	text-align: center;
	margin-right: 10px;
}

html {
	overflow-y: overlay;
	scroll-behavior: smooth;
}