@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=IBM+Plex+Mono:wght@700&display=swap');
/* .slick-prev::before,
.slick-next::before {

} */

.line-1 {
  width: 14em;
  margin: 0 auto;
  font-family: 'Fira Code', monospace;
  border-right: 2px solid #c792ea;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 14em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #c792ea;
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 376px) {
  .line-1 {
    font-size: 100%;
  }
}
.codebox {
  background-color: #292d3e;
  color: #c792ea;
  border: 3px solid #c792ea;
  border-radius: 10px;
  margin-bottom: 1em;
}
