@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.work {
  margin: 1em;
  padding: 1em;
}

.work-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-header-title {
  color: #6200ee;
  margin: 0em;
  font-size: 2.25em;
  letter-spacing: 0.25em;
  font-family: 'Bebas Neue';
}

.work-header-image {
  height: 25em;
}

.work-content {
  text-align: justify;
  padding: 0em 1em;
}

.work-content-divider {
  border-bottom: 2px solid #eee;
  width: 10em;
  margin-bottom: 1em;
}

.work-content-pill {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  text-align: center;
}

.work-content-reach {
  font-family: 'Bebas Neue';
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 0.5em;
}

.expand-pill {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5em;
  border: 2px solid #d5bff9;
  border-radius: 0.5em;
}

.expand-pill-title {
  margin: 0;
}

a {
  margin-right: 0.5em;
}
