.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 1.3em;
}

@media only screen and (max-width: 1030px) {
  .layout {
    padding: 0.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .lbCard-content-each {
    font-size: 0.8em;
  }
}

.lbCard {
  padding: 0.6em;
}

.lbCard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 1em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lbCard-content {
  padding: 1em;
  padding-bottom: 1.5em;
}

.lbCard-content-each {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0.5em 0em;
}
