@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    
@mixin mediaMaxWidth($width) {
        @media only screen and (max-width: $width) {
            @content;
        } 
    }
    
    @mixin mediaMinWidth($width) {
        @media only screen and (min-width: $width) {
            @content;
        } 
    }

.contest {
    // height: auto;
    // width: auto;
    display: flex;
    flex-direction: column;
    &-header{
        text-align: center;
    }
    &-image {
        border-radius: 0em 0em 0.5em 0.5em;
    }

    @include mediaMaxWidth(320px) {
        &-image {
            // display: none;
        }
    }

    &-content {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';

        &-live {
            font-size: 2em;
            // letter-spacing: 0.2em;
            margin: 0.2em;
            font-family: 'Bebas Neue';
        }
        &-title {
            font-size: 4em;
            // letter-spacing: 0.2em;
            margin: 0.2em;
            font-family: 'Bebas Neue';
        }
    }
}

