// @import '@material/react-text-field/index.scss';
.text-area-border {
    // @include mdc-text-field-textarea-stroke-color(#808080);
    border-color: rgba(0, 0, 0, 0.24) !important;
}

.text-area-border:hover:not(.mdc-text-field--focused) {
    // @include mdc-text-field-textarea-stroke-color(#808080);
    border-color: black !important;
}

.mdc-text-field--focused {
    // @include mdc-text-field-textarea-stroke-color(#808080);
    border-color: #6200EE !important;
}

.mdc-text-field--textarea {
    border-radius: 4px !important;
}

.mdc-text-field--textarea .mdc-text-field__input {
    border-radius: 4px !important;
}