@import '@material/react-card/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-notched-outline/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-snackbar/index.scss';
@import '../node_modules/@material/react-menu-surface/dist/menu-surface.css';
@import '../node_modules/@material/react-menu/dist/menu.css';
@import '../node_modules/@material/react-select/dist/select.css';
@import '../node_modules/@material/react-fab/dist/fab.css';
@import '../node_modules/@material/react-dialog/dist/dialog.css';

.noselect {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.text-area-width-100 {
  width: 100%;
}


// Styles for the container of the markdown editor
.editor-outer-container {
  padding: .5em;
  margin-bottom: 1em;
  border-radius: .25em;
  border: 1px solid #808080;
  color: #808080;
  &:hover {
    border: 1px solid black;
  }
  &:focus-within {
    border: 1.5px solid #6200ee;
    color: #6200ee;
  }
}


// .text-area-border:hover:not(.mdc-text-field--focused) {
//   // It makes the color of the textarea border color to black when we hover on it
//   border-color: black !important;
// }

// .mdc-text-field--focused {
//   // It makes the border color to 6200EE when we click on the textarea
//   border-color: #6200EE !important;
// }

// .mdc-text-field--textarea {
//   // To set the outer border radius of textarea
//   border-radius: 4px !important;
// }

// .mdc-text-field--textarea .mdc-text-field__input {
//   // To set the inner border radius of textarea(input tag)
//   border-radius: 4px !important;
// }

.button-right {
  margin-left: 'auto';
  margin-right: 0; 
  display: 'block';
}