@import '@material/react-card/index.scss';
@import '@material/react-layout-grid/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-tab-bar/index.scss';
@import '@material/react-tab-scroller/index.scss';
@import '@material/react-tab/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-tab-indicator/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-notched-outline/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-snackbar/index.scss';

.text-area-border {
  // It gives a gray border color to textarea
  border-color: rgba(0, 0, 0, 0.24) !important;
}

.text-area-border:hover:not(.mdc-text-field--focused) {
  // It makes the color of the textarea border color to black when we hover on it
  border-color: black !important;
}

.mdc-text-field--focused {
  // It makes the border color to 6200EE when we click on the textarea
  border-color: #6200EE !important;
}

.mdc-text-field--textarea {
  // To set the outer border radius of textarea
  border-radius: 4px !important;
}

.mdc-text-field--textarea .mdc-text-field__input {
  // To set the inner border radius of textarea(input tag)
  border-radius: 4px !important;
}