input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
  word-break: break-all;
  color: #505050;
  &:hover {
    border-color: black;
    color: black;
  }
}