table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.rounded-corners {
  border-radius: 8px;
}

// Making the text of each row left-aligned
th, td {
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom:1px solid #ddd;
}

//Colour of the even row
tr:nth-child(even){background-color: #f2f2f2}